{# This file is part of the Accard package. #}

{# (c) University of Pennsylvania #}

{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}

{% set current = paginator.maxPerPage %}

<ul class="pagination pull-right">
    {% for limit, url in limits %}
    <li{% if current == limit %} class="active"{% endif %}>
        <a href="{{ url }}">{{ limit }}</a>
    </li>
    {% endfor %}
</ul>

{# paginator.nbResults #}